.our__team {
  padding: 60px 0;

  background-color: #f5f4fa;
}

.members__list {
  margin-bottom: 60px;
}

.members__list-item {
  max-width: 450px;
  margin-top: 30px;
  background-position: center;
  background-image: cover;
  background-color: #ffffff;
}

.member__picture {
  display: flex;

  justify-content: center;
}

.members__list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.text__container {
  padding-top: 30px;
  padding-bottom: 16px;
  //   padding-left: 149px;
  //   padding-right: 149px;
  //
}
.team__member,
.member__occupation {
  margin-bottom: 10px;

  font-family: $mainFont;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.member__occupation {
  font-weight: 400;
  color: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .members__list {
    display: flex;
    flex-wrap: wrap;
  }

  .members__list-item {
    max-width: 354px;
    width: calc(100% - 15px * 4) / 2;
  }

  .members__list-item:nth-child(2n - 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1199px) {
  .our__team {
    padding-top: 98px;
    padding-bottom: 90px;
  }

  .members__list {
    display: flex;
  }

  .members__list-item {
    width: (1170px - 30px * 3) / 4;
    margin-top: 50px;
  }

  .members__list-item:not(:last-child) {
    margin-right: 30px;
  }

  .text__container {
    padding-top: 30px;
    padding-left: 59px;
    padding-right: 59px;
  }
}

// .team__member {
//   margin-bottom: 10px;

//   font-family: $mainFont;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.19;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: #212121;
// }

// .member__occupation {
//   font-family: $mainFont;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.19;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: #757575;
// }
