@media screen and (min-width: 320px) and (max-width: 767px) {
  .services {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .services {
    display: none;
  }
}

.services {
  padding-bottom: 90px;
}

.services__list {
  display: flex;
  margin-top: 50px;
}

.services__list-item {
  /* 100% */
  width: (1170px - 30px * 2) / 3;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.service__thumb {
  position: relative;
}

.service__description {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  justify-content: center;

  font-family: $mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);

  color: rgba(255, 255, 255, 1);
}
